// Typography
p {
  font-size: 1.7rem;
}

a {
  border-bottom: none;
  color: $color-primary;
  text-decoration: underline;

  &:hover {
    color: $color-primary-darker;
  }
}

// Navigation
.nih-logo {
  font-family: $helvetica;
  font-weight: 500;
}

.sf-menu a {
  color: $color-gray;

  &:hover {
    color: $color-base;
  }
}


// Hero
.welcome-wrapper {
  background-color: $color-primary-darker;
  margin: 0.125in 0;
  padding: 0.25in;
}

.welcome {
  font-weight: $font-bold;
  max-width: 50ch;
}

// Info callouts
.info-callouts {
  h2 {
    font-size: $h4-font-size;
  }
}

//Footer

#footer-menu {
  padding-bottom: 10px;
}

#fine-print {
  margin: 13px auto;
}