// Mixins --------- //

@mixin clip-margins {
  > :first-child {
    margin-top: 0;
  }

  > :last-child {
    margin-bottom: 0;
  }
}

@mixin grid-padding {
  @include padding(null 2rem);

  @include media($medium-screen) {
    @include padding(null 3rem);
  }
}

// Typography --------- //

p {
  font-size: 17px;
}

a {
  border-bottom: none;
  color: $color-primary;
  text-decoration: underline;

  &:hover {
    color: $color-primary-darker;
  }
}

// Grid --------- //

div.inner_wrapper {
  @include padding(null 2rem);
  margin: 0 auto;

  @include media($medium-screen) {
    @include padding(null 3rem);
  }
}

// Layout --------- //

.usa-section {
  @include padding(3rem null);

  @include media($medium-screen) {
    @include padding(6rem null);
  }
}

// Navigation --------- //

.header.header {
  padding-bottom: 14px;
  padding-top: 14px;
}

.nih-logo {
  font-family: $helvetica;
  font-weight: 500;
}

.sf-menu a {
  color: $color-gray;

  &:hover {
    color: $color-base;
  }
}

#savedStudies {
  button {
    font-size: 12px;
    margin: 0;
  }
}

// Footer --------- //

#footer-menu {
  padding-bottom: 10px;
}

#fine-print {
  margin: 13px auto;
}
