---
---
$output-bourbon-deprecation-warnings: false !default;

// Vendor -------------- //
@import 'lib/uswds/lib/bourbon';
@import 'lib/uswds/lib/neat';
@import 'lib/uswds/lib/normalize';

@import 'lib/uswds/core/variables';
@import "lib/uswds/elements/labels";

html {
  font-family: $font-sans;
  font-size: $em-base;
}

body {
  font-size: $base-font-size;
}

.search-term-highlight {
  font-weight: bold;
}

.results-summary {
  text-align: center;
}

.search-sort {
  float: right;
  margin-bottom: 10px;
  margin-top: 6px;
}


// Custom tooltip styles -------------- //

// Tooltip container
.tooltip {
  display: inline-block;
  position: absolute;
  margin-left: -44px;

  // Show the tooltip text when you mouse over the tooltip container
  // &:hover,
  // &:focus {
  //    .tooltip-text {
  //     opacity: 1;
  //   }
  // }

  .usa-label {

    &:hover,
    &:focus {
      .tooltip-text {
        opacity: 1;
      }
    }
  }
}

.dataTable {
  .usa-label {
    cursor: default;
    font-size: 13px;
  }
}

.tooltip-label {
  &:focus,
  &:hover {
    + .tooltip .tooltip-text {
      opacity: 1;
    }
  }
}

.tooltip-text {
  display: none;

  @include media($medium-screen) {
    @include margin(0 null 6px null);
    background-color: $color-gray-dark;
    border-radius: $border-radius;
    bottom: 100%;
    color: $color-white;
    display: block;
    font-size: 14px;
    left: 0;
    padding: 7px 10px;
    width: 230px;
    opacity: 0;
    position: absolute; // Position the tooltip text
    transition: all 0.1s ease-in-out;
    transition-delay: 0.1s;
    z-index: 1;

    &::after {
      border-width: 5px;
      border-style: solid;
      border-color: $color-base transparent transparent transparent;
      content: " ";
      left: 10%;
      margin-left: -12px;
      position: absolute;
      top: 100%; // At the bottom of the tooltip
    }
  }
}
