---
# Only the main Sass file needs front matter (the dashes are enough)
---

$output-bourbon-deprecation-warnings: false !default;

$font-path: '../uswds/fonts';
$image-path: '../uswds/img';


// TODO: use USWDS selectively
// @import "lib/uswds/all";

// Vendor -------------- //
@import 'lib/uswds/lib/bourbon';
@import 'lib/uswds/lib/neat';
@import 'lib/uswds/lib/normalize';

// Core -------------- //
@import 'lib/uswds/core/variables';
@import 'lib/uswds/core/fonts';
@import 'lib/uswds/core/base';
@import 'lib/uswds/core/grid';
@import 'lib/uswds/core/utilities';

@import "lib/uswds/elements/buttons";
@import "lib/uswds/elements/inputs";
@import "lib/uswds/elements/list";
@import "lib/uswds/elements/typography";

// @import "lib/uswds/components/forms";

@import "all";
