---
---
$output-bourbon-deprecation-warnings: false !default;

// Vendor -------------- //
@import 'lib/uswds/lib/bourbon';
@import 'lib/uswds/lib/neat';
@import 'lib/uswds/lib/normalize';

@import 'lib/uswds/core/variables';
@import "lib/uswds/elements/labels";

html {
  font-family: $font-sans;
  font-size: $em-base;
}

body {
  font-size: $base-font-size;
}

.search-term-highlight {
  font-weight: bold;
}

.usa-label {
  font-size: inherit;
}